.a{
    background-image: url("bg.jpg");
    z-index: 0;
}
.b{
    font-family: 迷你简少儿;
    font-size: 30px;
    
    background-image: url("xk.png");
    width:446px;
    height:736px;
    margin-top:30px;
}
.c{
    font-family: 迷你简少儿;
    font-size:15px ;

}